$color-dark-green: #046b5c;
$color-navy: #0b2949;
$color-red: #d02b27;
$color-gold: #f1b51c;
$color-grey: #5b6771;
$color-green: #17a673;

$font-montserrat-regular: 'Montserrat-regular';
$font-montserrat-black: 'Montserrat-black';
$font-montserrat-black-italic: 'Montserrat-black-italic';
$font-montserrat-bold: 'Montserrat-bold';
$font-montserrat-extra-bold: 'Montserrat-extra-bold';
$font-montserrat-bold-italic: 'Montserrat-bold-italic';
$font-montserrat-extra-bold-italic: 'Montserrat-extra-bold-italic';
$font-montserrat-extra-light: 'Montserrat-extra-light';
$font-montserrat-extra-light-italic: 'Montserrat-extra-light-italic';
$font-montserrat-italic: 'Montserrat-italic';
$font-montserrat-light: 'Montserrat-light';
$font-montserrat-light-italic: 'Montserrat-light-italic';
$font-montserrat-medium: 'Montserrat-medium';
$font-montserrat-medium-italic: 'Montserrat-medium-italic';
$font-montserrat-semibold: 'Montserrat-semibold';
$font-montserrat-semibold-italic: 'Montserrat-semibold-italic';
$font-montserrat-thin-italic: 'Montserrat-thin-italic';
$font-montserrat-thin: 'Montserrat-thin';
// $font-gotham-bold-italic: 'Gotham Bold Italic';
// $font-gotham-book: 'Gotham Book';
